@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}
.backgroundimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url('/images/Lake.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}
li, .a1, .button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    background-color: #252b33;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: #252b33;
}
.logo{
    cursor: pointer;
height: 150px;
}
.nav_links{
    list-style: none;
    background-color: #252b33;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #0088a9;
}
.button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: #252b33;  
}
.end{
    background-color: #252b33;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px; 
}
.text{
    background: transparent;
    color: #fff;
    font-family: "Montserrat", sans-serif; 
}
.text2{
    background: transparent;
    color: #fff;
    font-family: "Montserrat", sans-serif; 
}
.instagram, .facebook, .tiktok, .mail{
    background-color: #252b33;
    width: 25px;
    height: 25px;
    transition: all 0.3s;
    position: relative;
}
.instagram:hover{
width: 30px;
height: 30px;
transform: translateX(-5px) translateY(-5px);
}
.facebook:hover{
    width: 30px;
    height: 30px;
    transform: translateX(-5px) translateY(-5px);
}
.tiktok:hover{
        width: 30px;
        height: 30px;
        transform: translateX(-5px) translateY(-5px); 
}
.mail:hover{
    width: 30px;
    height: 30px;
    transform: translateX(-5px) translateY(-5px);
}
.button2{
    padding: 20px 40px;
    background-color: transparent;
    border-width: 0.1px;
    border-color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.button2:hover{
   background-color: rgb(122, 148, 159);
}
.a2{
    background-color: transparent;
}
.text,
.text2,
.a2 {
    margin: 10px;
}